/* Options drop-down styles */

body {
	margin: 5px;
	padding: 5px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	background: #F2F2F2;
}

h1 {
	padding: 5px;
	margin: -10px -10px 10px -10px;
	border-bottom: 1px solid #999999;
	background: -webkit-gradient(linear, 0% 0%, 0% 170%, from(#ffffff), to(#C4C4C4));
	font-weight: normal;
}

.button { border-color: #999999; }

img#icon {
	float: left;
}

div#content {
	margin-left: 140px;
	width: 600px;
}

div.box {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 5px;
	margin: 10px 0px 10px 0px;
	background-color: #E5E5E5;
	-webkit-box-shadow: inset 1px 1px 1px #ccc;
}

input,
textarea {
	border: 1px solid #ccc;
	padding: 3px;
	border-radius: 5px;
	font-size: 13px;
}

p {
	margin: 5px 0px 5px 0px;
	font-style: italic;
}

table {
	font-size: 12px;
}

h2 {
	font-size: 12px;
	font-weight: bold;
}